#content{
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}

h1{
    font-size: 40px;
    
}

.intro{
    margin-top: 40px;
}

.start, .intro, .list{
    margin: 0 auto 20px;
    text-align: left;
}

.start{
    font-style: italic;
}

.title{
    color: #0096c7;
}

.list{
    list-style-type: decimal ;
}

img{
    max-width: 40%;
}