
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

                        
img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
          
body {
  font-family: Roboto, sans-serif;
  background-color: lightgrey;
}
header,
footer {
    max-width: 1000px;
    margin: 1rem auto;
    border: 1px solid #ccc;
    padding: 1rem;
    background-color: rgb(26, 94, 189);
}
h1, h2{
    text-align: center;
}
section {
    padding-top: 36px;
    width: 300px;
    height: 300px;
    padding: 10px;
    background-color: white;
    margin: 1em;
    border: 1px solid black;
    box-shadow: 5px solid black;
}
nav a {
    padding: 20px;
    color: black;
    display: none;
}
nav.active a {
    display: block;
}
nav a:hover {
    text-decoration: none;
    color: #616061;
}
.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 20px;
    color: black;
}
/* .bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 5px 0;
} */
footer {
    text-align: center;
}

@media screen and (min-width: 700px) {
    nav {
        display: flex;
        flex-direction: row;
        justify-content: right;
    }
    nav a {
        display: flex;
    }
    .menu-btn{
        display: none;
    }
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

}

@media screen and (min-width: 1024px) {
    main {
        grid-template-columns: repeat(3, 1fr);
    }
}