
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
h1, footer {
    /* background-color: #222; */
    /* color: white; */
    padding: .25rem;
    text-align: center;
}
.main-nav, footer, #Book-list {
    border-top: 2px solid #ffc107;
}
.main-nav {
    list-style: none;
    padding: 0;
    text-align: right;
}
.main-nav a {
    /* color: #ffc107; */
    color: #b30059;
    text-decoration: none;
    padding: 20px;
}
#Book-list {
    padding: 0 2rem;
}
.book {
    /* border: 2px solid #ccc; */
    padding: 1rem;
    border-radius: 10px;
    max-width: 700px;
    margin: 20px auto;
}
.book h2 {
    color: #b30059;
    font-size: 1.5rem;
    text-align: center;
    margin: 20px;
}
.book p {
    padding-left: 20px;
    text-align: right;
}
.book img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
#desc {
    grid-column: 1/3;
}

@media (min-width: 600px) {
    .book img {
        grid-area: img;
    }
    h2{
        grid-area: head;
    }
    .r-date{
        grid-area: date;
    }
    .age{
        grid-area: age;
    }
    .genre{
        grid-area: gen;
    }
    .rating{
        grid-area: rate;
    }
    .movie {
        display: grid;
        grid-template-areas: 'img head' 'img date' 'img age' 'img gen' 'img rate';
    }

}
          